/* Utilities */
.valign-middle {
    vertical-align: middle;
}

/* Styles */
body {
    font-family: 'Open Sans', Roboto, sans-serif;
}

p {
    font-size: 1.2em;
}

nav {
    background-color: #685790;
    color: #F3F3F3;
}

.brand-logo {
    font-family: 'Audiowide';
}

.btn-large {
    background-color: #685790 !important;
}
